body{
    margin:0;
    padding:0;
}


img.portrait{
    margin:5vh;
    float:left;
    width:30vw;
    width:auto;
}

h1{
    padding:0;
    margin-bottom:3vh;
    font-size:10vh;
    text-align:center;
}

span.quote{
    line-height:6vh;
    font-size:4vh;
    
}
p.portrait{
    padding:5vh 5vw;
    text-align:center;
    overflow:auto;
    font-size:3vh;
    display:inline;
    width:40vw;
    height:auto;
    float:left;
    
}

hr{
    margin:0 5vh;
    float:left;
    width:45vw;
}

main{
    padding:20vh 5vw;
}